@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Montserrat", sans-serif; }

img { display: block; width: 100%; height: auto; }

@keyframes slideInFromLeft { 0% { transform: translateX(-1000px);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes slideInFromRight { 0% { transform: translateX(1000px);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes slideInFromTop { 0% { transform: translateY(-1000px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes zoom { 0% { background-size: 100%; }
  50% { background-size: 110%; }
  100% { background-size: 100%; } }

.slide-in-left { animation: slideInFromLeft 1s forwards; }

.slide-in-right { animation: slideInFromRight 1s forwards; }

.slide-in-top { animation: slideInFromTop 1s forwards; }

.slide_in { opacity: 0; }

body { background-color: #1a1a1a; color: #f5f5f5; overflow-x: hidden; position: relative; }

/* line 27, app/assets/stylesheets/components/_swiper.scss */
.hero-waves { display: block; width: 100%; height: 60px; position: absolute; bottom: 160px; }

/* line 33, app/assets/stylesheets/components/_swiper.scss */
.wave1 { fill: #00000029; }

/* line 36, app/assets/stylesheets/components/_swiper.scss */
.wave2 { fill: #0707072e; }

/* line 39, app/assets/stylesheets/components/_swiper.scss */
.wave3 { fill: #13131357; }

/* line 42, app/assets/stylesheets/components/_swiper.scss */
.wave1 use { -webkit-animation: move-forever1 10s linear infinite; animation: move-forever1 10s linear infinite; -webkit-animation-delay: -2s; animation-delay: -2s; }

/* line 49, app/assets/stylesheets/components/_swiper.scss */
.wave2 use { -webkit-animation: move-forever2 8s linear infinite; animation: move-forever2 8s linear infinite; -webkit-animation-delay: -2s; animation-delay: -11s; }

/* line 56, app/assets/stylesheets/components/_swiper.scss */
.wave3 use { -webkit-animation: move-forever3 6s linear infinite; animation: move-forever3 6s linear infinite; -webkit-animation-delay: -2s; animation-delay: -2s; }

@-webkit-keyframes move-forever1 { 0% { transform: translate(85px, 0%); }
  100% { transform: translate(-90px, 0%); } }

@keyframes move-forever1 { 0% { transform: translate(85px, 0%); }
  100% { transform: translate(-90px, 0%); } }

@-webkit-keyframes move-forever2 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@keyframes move-forever2 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@-webkit-keyframes move-forever3 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@keyframes move-forever3 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

body.home .home-header { text-align: center; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/car-5.jpg"); background-size: 100%; background-position: center; background-repeat: no-repeat; padding: 300px 0; animation: zoom 5s infinite; margin-bottom: 50px; }

body.home .home-header h1 { font-size: 48px; margin-bottom: 20px; color: #ffc019; }

body.home .home-header .justify-content-center { justify-content: center !important; }

body.home .home-header p { font-size: 20px; color: #f5f5f5; line-height: 1.6; }

body.home .text { font-size: 20px; color: #f5f5f5; line-height: 1.6; text-align: center; color: #000000; max-width: 80%; margin: 50px auto; padding: 50px; border-radius: 30px; box-shadow: 0 0 10px 10px #717171; background-image: url("/static/img/banner.jpg"); background-size: cover; /* Ceci va s'assurer que votre image couvre tout le rectangle sans se répéter */ background-repeat: no-repeat; /* Empêche l'image de se répéter */ background-position: center; /* Centre l'image dans le rectangle */ }

body.home .section-title { display: table; margin: 0 auto 20px auto; text-align: center; color: #ffc019; font-size: 32px; font-weight: bold; position: relative; margin-bottom: 50px; }

body.home .section-title::before { content: ""; height: 5px; position: absolute; background-color: #ffc019; width: 90%; left: 0; bottom: -5px; transition: all 0.3s ease; border-bottom-right-radius: 15px; }

.quality-containers { display: flex; flex-wrap: wrap; justify-content: center; }

.quality-containers .quality { padding: 1.5rem; display: flex; flex-direction: column; justify-content: space-between; width: 100%; max-width: 20%; align-items: center; }

@media (max-width: 991px) { .quality-containers .quality { max-width: 50%; } }

@media (max-width: 575px) { .quality-containers .quality { max-width: 100%; } }

.quality-containers .quality-text { color: white; flex-grow: 1; text-align: center; margin: 0; }

.quality-containers .quality-text span { display: block; }

.quality-containers .quality-image { margin-top: 2rem; width: 100px; }

.quality-containers .quality-image img { width: 100%; height: auto; }

.services-container { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; }

.services-container .service { display: flex; justify-content: center; align-items: center; width: 100%; height: 400px; }

.services-container .service .service-image { width: 50%; height: 100%; overflow: hidden; }

.services-container .service .service-image img { width: 100%; height: 100%; object-fit: cover; transition: all 0.3s ease; }

.services-container .service .service-image img:hover { transform: scale(1.1); transition: all 0.3s ease; }

.services-container .service:nth-child(even) { flex-direction: row-reverse; }

.services-container .service .service-content { width: 50%; padding: 40px; color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.services-container .service .service-content h2 { font-size: 24px; margin-bottom: 20px; position: relative; }

.services-container .service .service-content h2::before { content: ""; height: 3px; position: absolute; background-color: #ffc019; width: 0; left: 0; bottom: -5px; transition: all 0.3s ease; border-bottom-right-radius: 15px; }

.services-container .service .service-content h2:hover::before { width: 80%; }

.services-container .service .service-content p { font-size: 16px; text-align: center; }

* { margin: 0; padding: 0; box-sizing: border-box; }

button, input, select { font-family: inherit; font-size: 100%; box-sizing: border-box; padding: 0; margin: 0; }

html { font-size: 12px; }

body { color: #000; font-family: "Shippori Antique", sans-serif; display: grid; place-items: center; }

.content-wrapper { height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 5rem; margin-top: 50px; }

h1 { margin-bottom: calc(0.7rem + 0.5vmin); font-size: calc(2.3rem + 1vmin); color: #ffc019; }

.blue-line { height: 0.3rem; width: 6rem; background-color: #4f8fe2; margin-bottom: calc(3rem + 2vmin); }

.wrapper-for-arrows { position: relative; width: 70%; border-radius: 2rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; overflow: hidden; display: grid; place-items: center; }

.review-wrap { display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: calc(2rem + 1vmin); width: 100%; }

#imgDiv { border-radius: 50%; width: calc(6rem + 4vmin); height: calc(6rem + 4vmin); position: relative; box-shadow: 5px -3px #4f8fe2; background-size: cover; margin-bottom: calc(0.7rem + 0.5vmin); }

.chicken { background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s"); width: 200px; height: 250px; position: absolute; top: 12%; }

#imgDiv::after { content: "''"; font-size: calc(2rem + 2vmin); font-family: sans-serif; line-height: 150%; color: #fff; display: grid; place-items: center; border-radius: 50%; background-color: #4f8fe2; position: absolute; top: 10%; left: -10%; width: calc(2rem + 2vmin); height: calc(2rem + 2vmin); }

#personName { margin-bottom: calc(0.7rem + 0.5vmin); font-size: calc(1rem + 0.5vmin); letter-spacing: calc(0.1rem + 0.1vmin); font-weight: bold; color: #ffc019; }

#profession { font-size: calc(0.8rem + 0.3vmin); margin-bottom: calc(0.7rem + 0.5vmin); color: #4f8fe2; }

#description { font-size: calc(0.8rem + 0.3vmin); width: 70%; max-width: 40rem; text-align: center; margin-bottom: calc(1.4rem + 1vmin); color: white; line-height: 2rem; }

.arrow-wrap { position: absolute; top: 50%; }

.arrow { width: calc(1.4rem + 0.6vmin); height: calc(1.4rem + 0.6vmin); border: solid #4f8fe2; border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0; cursor: pointer; transition: transform 0.3s; }

.arrow:hover { transition: 0.3s; transform: scale(1.15); }

.left-arrow-wrap { left: 5%; transform: rotate(135deg); -webkit-transform: rotate(135deg); }

.right-arrow-wrap { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); right: 5%; }

.surprise-me-btn { border: 2px solid #4f8fe2; background-color: #e0eeff; color: #4f8fe2; border-radius: 2rem; padding: calc(0.5rem + 0.2vmin) 0; width: calc(7rem + 5vmin); text-align: center; transition: background-color 0.3s, transform 0.3s; cursor: pointer; margin-bottom: calc(1.4rem + 1vmin); }

.surprise-me-btn:hover { transition: background-color 0.3s, transform 0.3s; background-color: white; transform: rotate(5deg); }

.move-head { animation: moveHead 1.55s infinite; animation-delay: -0.8s; }

.hide-chicken-btn { border: 2px solid #e2594f; background-color: #ffe0e0; color: #e24f4f; border-radius: 2rem; padding: calc(0.5rem + 0.2vmin) 0; width: calc(10rem + 5vmin); text-align: center; transition: background-color 0.3s, transform 0.3s; cursor: pointer; margin-bottom: calc(1.4rem + 1vmin); }

.hide-chicken-btn:hover { transition: background-color 0.3s, transform 0.3s; background-color: white; transform: rotate(5deg); }

@keyframes moveHead { 0% { }
  25% { transform: translate(0.5rem, 1rem) rotate(5deg); }
  100% { transform: translate(0, 0) rotate(-5deg); } }

@media screen and (max-width: 900px) { .content-wrapper { width: 100%; } }

@media screen and (max-width: 1300px) { .services-header { padding: 200px 0 !important; } .services-header h1 { font-size: 40px !important; } .services-header p { font-size: 1px !important; } }

@media screen and (max-width: 1000px) { .services-header { padding: 150px 0 !important; } .services-header h1 { font-size: 32px !important; } .services-header p { font-size: 18px !important; } }

@media screen and (max-width: 800px) { .services-header { padding: 100px 0 !important; } .services-header h1 { font-size: 28px !important; } .services-header p { font-size: 14px !important; } }

@media screen and (max-width: 600px) { .services-header { padding: 50px 0 !important; } .services-header h1 { font-size: 24px !important; } .services-header p { font-size: 12px !important; } }

@media screen and (max-width: 500px) { .services-container .service { flex-direction: column !important; } .services-container .service .service-content { padding: 20px !important; width: 100% !important; height: 50% !important; } .services-container .service .service-image { width: 100% !important; height: 50% !important; } }

@media screen and (max-width: 400px) { .services-header { padding: 20px 0 !important; } .services-header h1 { font-size: 20px !important; } .services-header p { font-size: 10px !important; } }

/*# sourceMappingURL=home.css.map */