* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Montserrat", sans-serif; }

img { display: block; width: 100%; height: auto; }

@keyframes slideInFromLeft { 0% { transform: translateX(-1000px);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes slideInFromRight { 0% { transform: translateX(1000px);
    opacity: 0; }
  100% { transform: translateX(0);
    opacity: 1; } }

@keyframes slideInFromTop { 0% { transform: translateY(-1000px);
    opacity: 0; }
  100% { transform: translateY(0);
    opacity: 1; } }

@keyframes zoom { 0% { background-size: 100%; }
  50% { background-size: 110%; }
  100% { background-size: 100%; } }

.slide-in-left { animation: slideInFromLeft 1s forwards; }

.slide-in-right { animation: slideInFromRight 1s forwards; }

.slide-in-top { animation: slideInFromTop 1s forwards; }

.slide_in { opacity: 0; }

body { background-color: #1a1a1a; color: #f5f5f5; overflow-x: hidden; position: relative; }

/* line 27, app/assets/stylesheets/components/_swiper.scss */
.hero-waves { display: block; width: 100%; height: 60px; position: absolute; bottom: 160px; }

/* line 33, app/assets/stylesheets/components/_swiper.scss */
.wave1 { fill: #00000029; }

/* line 36, app/assets/stylesheets/components/_swiper.scss */
.wave2 { fill: #0707072e; }

/* line 39, app/assets/stylesheets/components/_swiper.scss */
.wave3 { fill: #13131357; }

/* line 42, app/assets/stylesheets/components/_swiper.scss */
.wave1 use { -webkit-animation: move-forever1 10s linear infinite; animation: move-forever1 10s linear infinite; -webkit-animation-delay: -2s; animation-delay: -2s; }

/* line 49, app/assets/stylesheets/components/_swiper.scss */
.wave2 use { -webkit-animation: move-forever2 8s linear infinite; animation: move-forever2 8s linear infinite; -webkit-animation-delay: -2s; animation-delay: -11s; }

/* line 56, app/assets/stylesheets/components/_swiper.scss */
.wave3 use { -webkit-animation: move-forever3 6s linear infinite; animation: move-forever3 6s linear infinite; -webkit-animation-delay: -2s; animation-delay: -2s; }

@-webkit-keyframes move-forever1 { 0% { transform: translate(85px, 0%); }
  100% { transform: translate(-90px, 0%); } }

@keyframes move-forever1 { 0% { transform: translate(85px, 0%); }
  100% { transform: translate(-90px, 0%); } }

@-webkit-keyframes move-forever2 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@keyframes move-forever2 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@-webkit-keyframes move-forever3 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

@keyframes move-forever3 { 0% { transform: translate(-90px, 0%); }
  100% { transform: translate(85px, 0%); } }

.site-header { display: flex; align-items: center; justify-content: space-between; padding: 20px 50px; background: black; position: sticky; top: 0; left: 0; width: 100%; z-index: 999; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.site-header .logo-container { display: flex; align-items: center; justify-content: center; gap: 10px; text-decoration: none; }

.site-header .logo-container .logo { width: 50px; }

.site-header .logo-container #website-name { font-size: 1.5rem; font-weight: 700; color: #fff; position: relative; }

.site-header .logo-container #website-name::before { content: ""; height: 5px; position: absolute; background-color: #ffc019; width: 0; left: 0; bottom: -5px; transition: all 0.3s ease; border-bottom-right-radius: 15px; }

.site-header .logo-container #website-name:hover::before { width: 100%; }

.site-header .main-nav { display: flex; align-items: center; gap: 20px; }

.site-header .main-nav .menu-toggle { display: none; flex-direction: column; justify-content: space-between; width: 30px; height: 20px; cursor: pointer; z-index: 999; }

.site-header .main-nav .menu-toggle span { display: block; width: 100%; height: 3px; background-color: #fff; transition: all 0.3s ease; }

.site-header .main-nav ul { display: flex; align-items: center; gap: 20px; z-index: 998; }

.site-header .main-nav ul li { list-style: none; font-size: 1.2rem; font-weight: 500; cursor: pointer; transition: all 0.3s ease; }

.site-header .main-nav ul li a.nav-link { text-decoration: none; color: #fff; position: relative; transition: all 0.3s ease; }

.site-header .main-nav ul li a.nav-link:hover { color: #ffc019; }

.site-header .main-nav ul li a.nav-link::before { content: ""; height: 3px; position: absolute; background-color: #ffc019; width: 0; left: 0; bottom: -5px; transition: all 0.3s ease; border-bottom-right-radius: 15px; }

.site-header .main-nav ul li a.nav-link:hover::before { width: 100%; }

@media (max-width: 900px) { .site-header { padding: 20px 20px; } .site-header .logo-container .logo { width: 40px; height: 40px; z-index: 999; } .site-header .logo-container #website-name { font-size: 1.2rem; } .site-header .main-nav ul li a.nav-link { font-size: 1rem; } }

@media (max-width: 650px) { .site-header .logo-container #website-name { display: none; } }

@keyframes open-menu-animation { 0% { width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
  100% { width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible; } }

@keyframes close-menu-animation { 0% { width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible; }
  100% { width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; } }

@media (max-width: 550px) { .site-header .main-nav .menu-toggle { display: flex; } .site-header .main-nav ul { opacity: 0; visibility: hidden; flex-direction: column; position: absolute; background-color: black; padding: 20px 0; gap: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); justify-content: center; top: 0; right: 0; transition: all 0.3s ease; } .site-header .main-nav.active ul { display: flex; opacity: 1; visibility: visible; width: 100vw; height: 100vh; } }

footer { display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 30px; gap: 50px; background: black; color: #fff; position: relative; bottom: 0; left: 0; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); z-index: 1; }

footer .social-media-container { display: flex; align-items: center; gap: 20px; }

footer .social-media-container .social-media-link { font-size: 1.5rem; color: #fff; transition: all 0.3s ease; cursor: pointer; }

footer .social-media-container .social-media-link:hover { color: #ffc019; }

/*# sourceMappingURL=nav.css.map */