{% extends 'base.html' %}
{% load cloudinary %}
{% load sass_tags %}
{% load static %}

{% block title %}
  Gallery | Graphix-Pro
{% endblock %}

{% block additional_head %}
  <link rel="stylesheet" href="{% sass_src 'scss/portfolio.scss' %}" type="text/css" />
{% endblock %}

{% block body_class %}
  portfolio
{% endblock %}

{% block content %}
  <div class="portfolio-header">
    <h1 class="slide_in" data-animation="left">Professional Portfolio Gallery</h1>
    <p class="slide_in" data-animation="right">Discover a curated collection of my latest projects, showcasing my expertise in Car Wrapping.<br>Click on any project for an in-depth look and additional imagery.</p>
  </div>

  <h2 class="slide_in portfolio-title" data-animation="top">Our Latest Masterpiece</h2>

  <div class="gallery">
    {% for palette in color_palettes %}
      <div class="palette slide_in" data-animation="{{ palette.direction }}" data-id="{{ palette.id }}" onclick="showPaletteModal('{{ palette.id }}', '{{ palette.name }}', {{ palette.otherImages|safe }})">
        <div class="palette-img-container">
          <img src="{{ palette.mainImage }}" alt="{{ palette.name }}" />
        </div>

        <div class="palette-info">
          <h3>{{ palette.name }}</h3>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Singular Modal Structure -->
  <div class="modal-overlay" id="paletteModalOverlay">
    <div class="modal" id="paletteModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle"></h5>
            <button type="button" class="close" id="close-portfolio-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="swiper" id="swiperModal">
              <div class="swiper-wrapper" id="swiperWrapper"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}
